body{
    background: url('backgroun-first.jpg') no-repeat center center/cover;
}
.nav{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav1{
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background-color: rgba(9, 9, 10, 0.8);
    border-radius: 10px;
    opacity: .6;
    z-index: 1;
}
.nav li{
    color: white;
    list-style: none;
    font-size: 20px;
}
.nav a{
    text-decoration: none;
    margin-left: 70px;
    margin-right: 70px;
}
.circle{
    border: 2px solid white;
    margin-top: 20px;
    height: 40px;
    width: 80px;
    border-radius: 0 0 100% 100%;
    position: relative;
    bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px;
}

input[type=text]{
    width: 200px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    caret-color: white;
    outline: none;
    margin-top: 50px;
}

input[type=text]::placeholder{
    color: white;
}

input[type=text],select,textarea{
    color: white;
}

.circle img{
    width: 30px;
    height: 30px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 5px solid white;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
}

.star{
    display: flex;
}

input[type=file]{
   display: none;
}

.file-uplode{
    border: 2px solid white;
    cursor: pointer;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.file-uplode li{
    color: white;
    list-style: none;
    text-align: center;
}
.first{
    display: flex;
    margin: 30px;
}
.list{
    color: white;
    list-style: none;
    position: relative;
    top: 10px;
}

#btn{
    color: white;
    background: none;
    width: 90px;
    height: 35px;
    border: none;
    border: 2px solid white;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
}
#btn:hover{
    background-color: white;
    color: black;
}