{% extends 'layout.html' %}
{% block body %}

<!-- Page Header -->

<header class="masthead" style="background-image: url(  {{ url_for('static', filename='') }}  )">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Form</h1>
          <span class="subheading">your data is totally secure ,you can trust on us.</span>
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Please tell us about your subject name.</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="contactForm" novalidate method="POST" action="/subjectinfo/{{user}}/{{slug}}/{{slug2}}">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Subject Name</label>
              <input type="text" class="form-control" placeholder="Subject Name" id="Subjeect Name" name="subject" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <br>

          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  {% endblock %}